#### Sample file to create a VFS mount point
#### This file should be filled with your properties

### Mandatory
# Node name
# mount.j_nodename=

## Node type
# mount.jcr_primaryType=cmis:cmisMountPoint


## User name
# mount.user=

## User password
# mount.password=

## CMIS endpoint URL
# mount.url=

## Slow connection boolean
# mount.slowConnection=

## Mount type nuxeo/alfresco
# mount.type=

## Remote root path
# mount.remotePath=

## User used to access public content
# mount.publicUser=

## Id of the repository
# mount.repositoryId=-default-

### Optional

#### By default the mount point will be created to the location: /mount/
#### To create the mount point to another location, fill the following property
#### For example mount.j_path=/sites/siteName/files
#mount.j_path=
